@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Palette+Mosaic&family=Sacramento&display=swap');
body {
    background-color: antiquewhite;
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-family: 'comfortaa', cursive;
}
.container{
    /* background-color: rgb(253, 218, 171); */
    max-width: 800px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 10px;
}
.menu{
    position: fixed;
    background-color: rgb(250, 235, 200);
    top: 5px;
    width: 800px;
    margin: auto;
    display: flex;
}
.menu a{
    width: 33%;
    border-radius: 5px;
    box-shadow: 2px 2px 3px 5px gray;
    text-align: center;
    margin: 3px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    padding-top: 3px;
}
.kt{
    border-radius: 15px;
    box-shadow: 1px 1px 3px 4px rgb(253, 218, 171);
    padding-top: 10px;
    margin-bottom: 20px;
}
.ktimage{
    border-radius: 15px;
    padding: 5px;
}
.page{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
}
.page a{
    width: 25%;
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    text-shadow: 1px 1px 2px gray;
}
.page a:hover{
    box-shadow: 3px 3px 5px 5px grey;
    text-shadow: none;
}
.catalog img{
    width: 50%;
}
.catalog{
    display: flex;
    box-sizing: border-box;
}
.catalog p{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.kt h2{
text-align: center;
}
.bento{
    margin-bottom: 40px;
}
.perehod{
    text-align: center;
    margin-bottom: 90px;
    }
.perehod a{
    background-color:rgb(255, 152, 16);
    color: brown;
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
.end{
    padding-bottom: 5px;
    width: 20%;
    font-size: 9px;
    margin-right: 0;
    margin-left: auto;
    padding-left: 5px;
    text-shadow: 1px 1px 1px grey;
    color: rgb(253, 218, 171);
}